In [8]:
#1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
#i. WAP to add 200 and 300 to L.
L=[10,20,30,40,50,60,70,80]
print(L)
L.append(200)
L.append(300)
print(L)

#ii. WAP to remove 10 and 30 from L
L.remove(10)
L.remove(30)
print(L)

#iii. WAP to sort L in ascending order.
L.sort()
print(L)

#iv. WAP to sort L in descending order.
L.reverse()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]
[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[20, 40, 50, 60, 70, 80, 200, 300]
[300, 200, 80, 70, 60, 50, 40, 20]

In [24]:
#2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
#i. Identify the highest score and its index in the tuple.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(scores)
maxScore=max(scores)
print(max(scores))
print(scores.index(maxScore))

#ii. Find the lowest score and count how many times it appears.
minScore=min(scores)
print(minScore)
print(scores.count(minScore))

#iii. Reverse the tuple and return it as a list.
scores=scores[::-1]
L1=list(scores)
print(L1)

#iv. Check if a specific score ‚Äò76‚Äô (input by the user) is present in the tuple and print its first occurrence index, or a message saying it‚Äôs not present.
n=int(input("enter the score: "))
if n in scores:
    print("present at index: ", scores.index(n))

else:
    print("not present")

(45, 89.5, 76, 45.4, 89, 92, 58, 45)
92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the score: 76
present at index:  5

In [26]:
#3. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
#i. All odd numbers
#ii. All even numbers
#iii. All prime numbers
import random
L2=[]
for i in range(100):
    L2.append(random.randint(100,900))
print(L2)
countOdd=0
countEven=0
countPrime=0
for i in L2:
    if i%2!=0:
        countOdd+=1
    else:
        countEven+=1

for i in L2:
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            countPrime+=1

print("count of odd numbers: ", countOdd)
print("count of even numbers: ", countEven)
print("count of prime numbers: ", countPrime)

[798, 314, 852, 395, 497, 141, 888, 717, 532, 274, 122, 836, 349, 418, 221, 583, 591, 366, 217, 792, 486, 267, 247, 787, 777, 450, 440, 755, 141, 230, 740, 689, 356, 285, 345, 161, 792, 888, 810, 607, 492, 729, 890, 759, 267, 665, 173, 312, 700, 269, 355, 816, 678, 736, 133, 529, 859, 209, 114, 133, 613, 885, 632, 588, 425, 855, 379, 579, 489, 241, 139, 878, 244, 355, 530, 391, 832, 585, 169, 583, 346, 843, 319, 229, 612, 755, 277, 672, 353, 611, 303, 238, 168, 759, 198, 410, 313, 317, 863, 485]
count of odd numbers:  59
count of even numbers:  41
count of prime numbers:  16

In [27]:
#4. Consider the following two sets, A and B, representing scores of two teams in multiple matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
#WAP to perform the following opera∆üons using set functions:
#i. Find the unique scores achieved by both teams (union of sets).
#ii. Identify the scores that are common to both teams (intersection of sets).
#iii. Find the scores that are exclusive to each team (symmetric difference).
#iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
#v. Remove a specific score ùëã (input by the user) from set A if it exists. If not, print a message saying it is not present.

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A)
print(B)
print("union of sets: ", A.union(B))
print("intersection of sets: ", A.intersection(B))
print("symmetric difference: ", A.symmetric_difference(B))
print("A is subset of B: ", A.issubset(B))
print("B is superset of A: ", B.issuperset(A))
n=int(input("enter the score: "))
if n in A:
    A.remove(n)
    print(A)
else:
    print("not present")

{56, 34, 90, 78}
{90, 45, 78, 23}
union of sets:  {34, 45, 78, 23, 56, 90}
intersection of sets:  {90, 78}
symmetric difference:  {34, 45, 23, 56}
A is subset of B:  False
B is superset of A:  False
enter the score: 49
not present

In [31]:
#5. Write a program to rename a key city to a location in the following dictionary

sample_dict={"name" : "Kelly", "age" : 25, "salary":8000, "city" : "New York"}
print(sample_dict)
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New York'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}